.next
.cache
package-lock.json
public
node_modules
next-env.d.ts
next.config.ts
yarn.lock

# Ignore artifacts:
build
coverage
dist
__snapshots__
.vscode

# cypress folders
/cypress/screenshots
/cypress/videos

